# build
dist/
.astro/
.vercel/

# deps
node_modules/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/
.DS_Store

# pagefind
pagefind/
